<h1>Product: <%= @product.name %></h1>
<p><label for="name">Name: </label><%= @product.name %></p>
<p><label for="description">Description: </label><%= @product.description %></p>
<p><label for="pricing">Price: </label>$<%= @product.pricing %></p>
<p><a href="/products">Back</a> | <a href="/products/<%= @product.id %>/edit">Edit</a></p>